@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Estilos para las flechas del componente específico */
  .workshop-swiper-container .swiper-button-prev,
  .workshop-swiper-container .swiper-button-next {
    color: #fe2e00;
    height: 2rem;
    opacity: 1;
    width: 2rem;
  }

  .workshop-swiper-container .swiper-button-prev {
    left: -0.2rem;
  }

  .workshop-swiper-container .swiper-button-next {
    right: -0.2rem;
  }

  .workshop-swiper-container .swiper-button-prev::after,
  .workshop-swiper-container .swiper-button-next::after {
    font-size: 1.5rem;
  }

  /* Estilos específicos para las flechas de navegación en EventFeature */
  .event-swiper-container .swiper-button-prev,
  .event-swiper-container .swiper-button-next {
    height: 2rem;
    opacity: 1;
    width: 2rem;
  }

  .event-swiper-container .swiper-button-prev {
    left: -0.5rem;
  }

  .event-swiper-container .swiper-button-next {
    right: -0.5rem;
  }

  .event-swiper-container .swiper-button-prev::after,
  .event-swiper-container .swiper-button-next::after {
    font-size: 1.5rem;
  }

/* Estilos generales para pantallas pequeñas (default) */
  .profile-swiper-container .swiper-button-prev,
  .profile-swiper-container .swiper-button-next {
    color: #fe2e00;
    height: 2rem;
    width: 2rem;
    opacity: 1;
  }

  .profile-swiper-container .swiper-button-prev:hover,
  .profile-swiper-container .swiper-button-next:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
  }

  .profile-swiper-container .swiper-button-prev::after,
  .profile-swiper-container .swiper-button-next::after {
    font-size: 1.5rem;
    color: #fe2e00;
  }

  .profile-swiper-container .swiper-button-prev {
    left: -0.6rem;
  }

  .profile-swiper-container .swiper-button-next {
    right: -0.6rem;
  }

  /* Ajustes para pantallas medianas en adelante */
  @media (min-width: 768px) {
    .profile-swiper-container .swiper-button-prev,
    .profile-swiper-container .swiper-button-next {
      height: 3rem;
      width: 3rem;
    }

    .profile-swiper-container .swiper-button-prev::after,
    .profile-swiper-container .swiper-button-next::after {
      font-size: 2rem;
    }

    .profile-swiper-container .swiper-button-prev {
      left: 2rem;
    }

    .profile-swiper-container .swiper-button-next {
      right: 2rem;
    }
  }
}
